body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  margin: 0;
}

.container {
  background-color: hsl(215, 46%, 89%);
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  box-shadow: 0 0 50px hsl(220, 15%, 55%);
  height: 600px;
  width: 340px;
}

.qr-container {
  height: 300px;
  width: 300px;
  margin: 20px 20px 0 20px;
}

.qr-container img {
  border-radius: 15px;
  height: 300px;
  width: 300px;
}

.qr-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}

.qr-text h2 {
  font-weight: 700;
}

.qr-text h3 {
  font-weight: 500;
}
